  @font-face {
    font-family: 'Gordita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular'), url('../src/assets/fonts/Gordita Regular.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url('../src/assets/fonts/Gordita Medium.woff') format('woff');
    }
    

    
    

    @font-face {
    font-family: 'Gordita Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Bold'), url('../src/assets/fonts/Gordita Bold.woff') format('woff');
    }
    

    
  
  

  
  

  
  

 
  

 





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main{
  display: flex;
}
.country-img{
  border-radius: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
